<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ödeme Sayfası</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="main-nav">
    <div class="nav-container">
        <a href="{{ url_for('home') }}" class="logo">E-Etkinlik</a>
        <div class="nav-links">
            {% if session.get('is_admin') %}
                <a href="{{ url_for('approve_users') }}" class="hover:underline">Kullanıcı Onayla</a>
                <a href="{{ url_for('admin_events') }}" class="hover:underline">Etkinlikleri Yönet</a>
                <a href="{{ url_for('admin_announcements') }}" class="hover:underline">Duyuruları Yönet</a>
                <a href="{{ url_for('assign_admin') }}" class="hover:underline">Admin Ata</a>
            {% endif %}
            <a href="{{ url_for('home') }}" class="hover:underline">Ana Sayfa</a>
            <a href="{{ url_for('events') }}" class="hover:underline">Etkinlikler</a>
            <a href="{{ url_for('my_tickets') }}" class="hover:underline">Biletlerim</a>
            <a href="{{ url_for('announcements') }}" class="hover:underline">Duyurular</a>
            <a href="{{ url_for('profile') }}" class="hover:underline">Profil</a>
            <a href="{{ url_for('logout') }}" class="hover:underline">Çıkış Yap</a>
        </div>
    </div>
</nav>


    <div class="container">
        <h1 class="page-title">Ödeme Sayfası (Simülasyon)</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('payment') }}">
            <div class="form-group">
                <label for="card_holder">Kart Sahibinin Adı:</label>
                <input type="text" id="card_holder" name="card_holder" required>
            </div>
            <div class="form-group">
                <label for="card_number">Kart Numarası:</label>
                <input type="text" id="card_number" name="card_number" required>
            </div>
            <button type="submit" class="btn btn-primary">Ödeme Yap</button>
        </form>
        <p class="note">Gerçek ödeme yapılmamaktadır, bu sadece bir simülasyondur.</p>
    </div>

    <footer style="text-align:center; padding: 15px; font-family: 'Comic Sans MS', cursive; background-color: #2f2c3f; color: #fffefe;">
         <p> Made  by <strong>Mehmet Nuri</strong> | <a href="https://github.com/meowmet" target="_blank">GitHub: Meowmet</a> © 2025</p>
    </footer>
</body>
</html>